/* Estilo Geral */
body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Garante que o conteúdo ocupe toda a altura da tela */
  padding: 20px;
  box-sizing: border-box;
}

/* Título */
h1 {
  color: #0056b3;
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
}

h2 {
  color: #343a40;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

/* Formulário */
form {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
  max-width: 600px;
  width: 90%; /* Adapta-se a diferentes tamanhos de tela */
  margin: 0 auto;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #495057;
  font-size: 16px;
}

form input,
form select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

form input:focus,
form select:focus {
  outline: none;
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 86, 179, 0.2);
}

/* Botão de submissão */
button[type="submit"] {
  width: 100%;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #218838;
}

/* Mensagem de retorno */
#movimentacoesMessage {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

/* Botão para o Dashboard */
a button {
  margin-top: 30px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  display: block;
  width: 100%;
}

a button:hover {
  background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
  form {
    padding: 20px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  button {
    font-size: 16px;
  }
}

/* Responsividade */
@media (max-width: 768px) {
  form {
    padding: 15px;
  }

  h1 {
    font-size: 20px;
  }

  button {
    font-size: 14px;
  }
}
