body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#movimentacoesMessage {
  text-align: center;
  color: green;
  font-weight: bold;
}

.logo-right {
  position: fixed;
  top: 50px;
  right: 10px;
  z-index: 1000;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

table th, table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

table thead th {
  background-color: #f2f2f2;
  color: #333;
}

table tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #f1f1f1;
}

a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

/* Ajustes responsivos */
@media screen and (max-width: 600px) {
  table {
    font-size: 14px;
  }

  table th, table td {
    padding: 8px 10px;
  }

  table thead {
    display: none;
  }

  table, table tbody, table tr, table td {
    display: block;
    width: 100%;
  }

  table tr {
    margin-bottom: 15px;
  }

  table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
}

