/* Estilo Geral */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to right,
    #1342da,
    #ffffff
  ); /* Degradê do cinza escuro para o branco */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container Principal */
.container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  height: 70%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

/* Área Esquerda - Login */
.left-panel {
  background-color: #4a4a4a;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.left-panel h1 {
  color: white;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
}

form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
    inset -2px -2px 5px rgba(255, 255, 255, 0.1);
}

form input:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  background-color: #575757;
  color: white;
}

form button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}

/* Mensagem de Erro ou Sucesso */
#message {
  margin-top: 15px;
  font-size: 16px;
  color: white;
  text-align: center;
}

/* Área Direita */
.right-panel {
  width: 50%;
  background: linear-gradient(to bottom, #ffffff, #d9d9d9);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.right-panel p {
  font-size: 20px;
  color: #4a4a4a;
  text-align: center;
}
