/* Estilo inicial da sidebar */
.sidebar {
  width: 20px; /* Largura inicial pequena para que a aba seja visível */
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 60px;
}

/* Estilo da sidebar quando o mouse está sobre ela */
.sidebar:hover {
  width: 250px;
}

/* Estilo dos links dentro da sidebar */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* Estilo dos links quando o mouse está sobre eles */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Estilo para a aba visível */
.sidebar .tab {
  position: absolute;
  top: 50%;
  right: -20px;
  width: 20px;
  height: 60px;
  background-color: #111;
  color: white;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  transition: right 0.5s;
}

/* Estilo para a aba quando o mouse está sobre a sidebar */
.sidebar:hover .tab {
  right: 0;
}
.logo-right {
  position: fixed;
  top: 50px;
  right: 10px;
  z-index: 1000;

}

/* Estilo para o overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
  display: none; /* Inicialmente oculto */
  z-index: 1000; /* Certifique-se de que o overlay esteja acima do conteúdo */
}

/* Estilo para mostrar o overlay quando o modal está visível */
.modal.show ~ .overlay {
  display: block;
}

/* Estilo para o conteúdo do modal */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ajuste a largura conforme necessário */
  max-width: 800px; /* Limite máximo de largura */
  height: auto; /* Ajuste a altura conforme necessário */
  max-height: 90%; /* Limite máximo de altura */
  overflow-y: auto; /* Adicione rolagem vertical se o conteúdo for muito grande */
  border-radius: 10px; /* Bordas arredondadas */
  z-index: 1001; /* Certifique-se de que o conteúdo do modal esteja acima do overlay */
}

/* Estilo para o modal */
.modal {
  display: none;
}

/* Estilo para mostrar o modal */
.modal.show {
  display: block;
}

/* Estilo para os links da sidebar */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Estilo para o botão de fechar */
.sidebar .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.open-btn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.open-btn:hover {
  background-color: #444;
}

/* Estilo para o botão de fechar */
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-btn:hover,
.close-btn:focus {
  color: #000;
  text-decoration: none;
}
